<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Cupcakes</h1>
    <div class="cupcakes">
        <ul>
            <!-- show cupcakes here -->
        </ul>
    </div>
    <div class="add">
        <h2>Add a New Cupcake</h2>
        <form id="new-cupcake">
            <div>
                <label for="flavor">Flavor: </label>
                <input type="text" name="flavor" id="flavor">
            </div>
            <div>
                <label for="size">Size: </label>
                <input type="text" name="size" id="size">
            </div>
            <div>
                <label for="rating">Rating: </label>
                <input type="number" name="rating" id="rating">
            </div>
            <div>
                <label for="image">Image: </label>
                <input type="text" name="image" id="image">
            </div>
            <button>Add Cupcake</button>
        </form>
    </div>
    
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/cupcakes.js"></script>
</body>
</html>